################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MockInterview/FileContentIndex/108e6957-c6bb-4de4-95c5-5d6204f6651e.vsidx
